.container { position: relative; }
.loader { background: url(loading.gif) no-repeat center center; height: 200px; }
.top_logo { position:absolute; right: 20px; top: 5px; z-index: 100; }
.top_colorbar { height: 8px; }

#taglist span { cursor: pointer; }

#grouplist-navbar li.ui-state-hover { outline: 1px solid green; }
#grouplist-navbar li.ui-state-active { background: #ddffdd; }
.ui-draggable-dragging { width: 400px; z-index: 2000; }

@media screen and (min-width: 800px) {
    .panel-header-form { float: right; margin-top:-5px; padding-left: 20px; }
}

td.icon, td.name { cursor: pointer; }
td.icon:hover button, td.name:hover a { color: #000 !important; }
td.name:hover a { text-decoration: underline;  }
td.icon { cursor: move; }

.form-control[readonly] {
    cursor: text;
}

.footer { color: #ccc; font-size: 10pt; padding-bottom: 20px; }

/* --> Pad View (IFrame) */
iframe#padview_iframe { width: 100%; height: 100%; border: 0; }
#padview_info b { font-size: 12pt; }
#padview_info {
    position: absolute; bottom: 0; left: 0; right: 0;
    border-top: 1px solid #999;  font: status-bar; font-size: 9pt;
    overflow: hidden;  box-shadow: 0 0 5px #bbb;
background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
}
#padview_pw { background: transparent; border: 0; font-weight: bold; font-size: 12pt; width: 90%; }
#padview_info .innerDiv { padding:5px 10px; }
#padview_info .imgbutton { padding:8px 12px;border-right:1px solid #bbb;float:left;text-decoration:none;font-weight:bold;color:#666; font-size: 16pt; }
#padview_info .imgbutton.last { margin-right: 10px; }
#padview_info .imgbutton:hover { color: #66d; background: rgba(200,200,200,0.5); }
.noselect { -webkit-user-select: none;-moz-user-select:none; }
#padview_info.collapsed { width: 56px; height: 30px; overflow: hidden; left: 10px; right: inherit; border: 1px solid #999; border-bottom: 0; }
#padview_info.collapsed .content { display: none }
#padview_info.collapsed .x { padding: 5px 18px; }
.elipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: block; }
.title { padding-top: 4px; font-weight: bold; }

#quickSearch a { display: block; padding: 4px 7px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
@media screen and (min-width: 768px) {
    #grouplist-navbar { padding-left: 0; }
    nav.navbar { padding-left: 5px; padding-right: 20px; }
    #quickSearch { position: absolute; width: 270px; background: #eee; border: 2px solid #777; z-index: 5; }
}
@media screen and (max-width: 991px) {
  .navbar .nav>li>a { padding-left: 4px; padding-right: 4px; }
}

#pad_passw:invalid { outline:2px solid red;color:red; }



